
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Custom styles for this page -->
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/admin/css/category.css" rel="stylesheet" />


<div class="card shadow">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Product DataTables</h6>

        <!-- Button trigger modal -->
        <div>
            <a href="#" id="deleteCategory" onclick="Deleted()" class="btn btn-danger text-end">
                Delete
            </a>

            <a href="#" id="addCategory" onclick="resetModal()" class="btn btn-primary text-end" data-toggle="modal" data-target="#categoryModal">
                Add Category
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 10%" />
                    <col style="width: 30%" />
                    <col style="width: 20%" />
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>
                            <div class="text-center">
                                <span style="color: white">.</span>
                                <input type="checkbox" id="allCheckbox" class="form-check-input" />
                            </div>
                        </th>
                        <th>STT</th>
                        <th>ID Category</th>
                        <th>Tên Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="listCategories"></tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
@await Html.PartialAsync("AddCategoryPartialView")
@await Html.PartialAsync("EditCategoryPartialView")

@section scripts {
    <script src="~/admin/js/category.js"></script>
}

