
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       asp-area="Admin" asp-controller="Home" asp-action="index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Qan Shop</div>
    </a>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Quản Lý Tài Khoản
    </div>
    <!-- Nav Item - Quản lý tài khoản -->
    <li class="nav-item active">

        <a class="nav-link collapsed" asp-area="Admin" asp-controller="Home" asp-action="index"
           data-toggle="collapse" data-target="#collapsePersonalAccount"
           aria-expanded="true" aria-controls="collapsePersonalAccount">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tài khoản cá nhân</span>
        </a>

        <div id="collapsePersonalAccount" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Chức Năng</h6>
                <a class="collapse-item" href="https://localhost:7177/Identity/Account/Manage">Profile</a>
                <a class="collapse-item" href="https://localhost:7177/Identity/Account/Manage/Email">Email</a>
                <a class="collapse-item" href="https://localhost:7177/Identity/Account/Manage/ChangePassword">Password</a>
                <a class="collapse-item" href="https://localhost:7177/Identity/Account/Manage/TwoFactorAuthentication">Two-factor Authentication</a>
                <a class="collapse-item" href="https://localhost:7177/Identity/Account/Manage/PersonalData">Personal Data</a>
                
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản Lý Sản Phẩm
    </div>

    <!-- Nav Item - Quản lý Sản Phầm-->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#productMenu"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Sản phẩm</span>
        </a>
        <div id="productMenu" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-area="Admin" asp-controller="Product" asp-action="Index">
                    <span>Danh sách các sản phẩm</span>
                </a>
                <a class="collapse-item" href="#">
                    Thêm mới sản phẩm
                </a>
                <a class="collapse-item" href="#">
                    Xem chi tiết sản phẩm
                </a>
                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <span>Các loại sản phẩm</span>
                </a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản Lý Người Dùng
    </div>

    <!-- Nav Item - Quản lý Người dùng -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accountMenu"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Người Dùng</span>
        </a>
        <div id="accountMenu" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" class="collapse-item" asp-area="Admin" asp-controller="Account" asp-action="Index">
                    <span>Danh sách người dùng</span>
                </a>
                <a class="collapse-item" class="collapse-item" asp-area="Admin" asp-controller="Assignment" asp-action="Roles">
                    Vai Trò
                </a>
                <a class="collapse-item" asp-area="Admin" asp-controller="Assignment" asp-action="Permission">
                    Phân Quyền người dùng
                </a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        Quản Lý Người Dùng
    </div>

    <!-- Nav Item - Quản lý Đơn Hàng -->
    <li class="nav-item">

        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Các đơn hàng</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>