@model QanShop.Models.Domains.Product


<div class="col">
    <div class="card h-100">
        <img src="@Model.ImageUrl" class="card-img-top" alt="Áo Nam">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-title">$@Model.price</p>
            <a href="https://localhost:7177/@Model.Id" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>