@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Custom styles for this page -->
<link href="~/admin/css/product.css" rel="stylesheet" />


<!-- Begin Page Content -->
    <!-- DataTales Example -->
<div class="card shadow">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Product DataTables</h6>

            <!-- Button trigger modal -->
            <div>
                <a href="#" id="deleteProduct" onclick="Deleted()" class="btn btn-danger text-end">
                    Delete
                </a>

                <a href="#" id="addProduct" onclick="resetModal()" class="btn btn-primary text-end" data-toggle="modal" data-target="#productModal">
                    Add Product
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 5%" />
                    <col style="width: 10%" />
                    <col style="width: 30%" />
                    <col style="width: 20%" />
                    <col style="width: 10%" />
                    <col style="width: 5%" />
                    <col style="width: 10%" />
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>
                            <div class="text-center">
                                <span style="color: white">.</span>
                                <input type="checkbox" id="allCheckbox" class="form-check-input" />
                            </div>
                        </th>
                        <th>STT</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Hình Ảnh</th>
                        <th>Giá Tiền</th>
                        <th>Loại</th>
                        <th>Active</th>
                        <th>Sự Kiện</th>
                    </tr>
                </thead>
                <tbody id="listProduct"></tbody>
                <tfoot>
                    <tr class="text-center">
                        <th>
                            <input type="checkbox" id="allCheckbox" class="form-check-input" />
                        </th>
                        <th>STT</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Hình Ảnh</th>
                        <th>Giá Tiền</th>
                        <th>Loại</th>
                        <th>Active</th>
                        <th>Sự Kiện</th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
<!-- /.container-fluid -->
@await Html.PartialAsync("ProductPartialView")

    @section scripts {
        <script src="~/admin/js/product.js"></script>
}