
@{
    ViewData["Title"] = "Permission";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Account DataTables</h6>

        <!-- Button trigger modal -->
        <div>
            <a href="#" id="addPermission" onclick="resetModal()" class="btn btn-primary text-end" data-toggle="modal" data-target="#permissionModal">
                Add New Permission
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 20%" />
                    <col style="width: 10%" />
                    <col style="width: 10%" />
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>
                            <div class="text-center">
                                <span style="color: white">.</span>
                                <input type="checkbox" id="allCheckbox" class="form-check-input" />
                            </div>
                        </th>
                        <th>Tài khoản</th>
                        <th>Thư điện tử</th>
                        <th>Tên vai trò</th>
                        <th>Trạng thái</th>
                        <th>Sự kiện</th>
                    </tr>
                </thead>
                <tbody id="listPermission"></tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("PermissionPartialView");

@section scripts {
    <script src="~/admin/js/permission.js"></script>
}