<!--Product Modal -->
<div class="modal fade" id="permissionModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="roleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleLabel">Add Permission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="justify-content-between gap-3">
                    <input type="text" id="permissionId" value="" hidden />
                    <div class="col">
                        <div class="mb-3">
                            <label for="userName" class="col-form-label">User Name</label>
                            <div class="input-group mb-3">
                                <select class="form-select" id="userName">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="roleName" class="col-form-label">Role Name</label>
                            <div class="input-group mb-3">
                                <select class="form-select" id="roleName">
                                </select>
                            </div>
                    </div>

                </div>                
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submit" type="button" class="btn btn-primary" onclick="PermissionModalBtn()">OK</button>
            </div>
        </div>
    </div>
</div>